<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>../images/logos/gameplus.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{640,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{640,640}}</string>
        <key>sourceSize</key>
        <string>{640,640}</string>
      </dict>
      <key>../images/logos/sar.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{364,417}}</string>
        <key>offset</key>
        <string>{-3,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,16},{364,417}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>../images/logos/igloo-picture-books.jpeg</key>
      <dict>
        <key>frame</key>
        <string>{{0,1057},{225,225}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{225,225}}</string>
        <key>sourceSize</key>
        <string>{225,225}</string>
      </dict>
      <key>../images/logos/igloo-tools.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1282},{225,225}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{225,225}}</string>
        <key>sourceSize</key>
        <string>{225,225}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string></string>
      <key>size</key>
      <string>{640,1507}</string>
      <key>textureFileName</key>
      <string>output.png</string>
    </dict>
  </dict>
</plist>
